<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agribiz_v100">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agribizv100"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".customer.DonationActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".BarteredItemViewActivity"
            android:exported="false" />
        <activity
            android:name=".PendingViewActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersActivity"
            android:exported="false" /> <!-- Account Creation -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".customer.BuyNowActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" /> <!-- Main Activities -->
        <activity
            android:name=".customer.CustomerMainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".agrovit.AgrovitMainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".farmer.FarmerMainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:launchMode="singleInstance" /> <!-- Profiles -->
        <activity
            android:name=".farmer.FarmerEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".customer.EditProfile"
            android:exported="false" />
        <activity
            android:name=".customer.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".customer.MyAddressesActivity"
            android:exported="false" /> <!-- Barters -->
        <activity
            android:name=".farmer.BarterItemActivity"
            android:exported="false" />
        <activity
            android:name=".customer.BarterGoodsActivity"
            android:exported="false" /> <!-- Messages -->
        <activity
            android:name=".MessagesActivity"
            android:exported="false" /> <!-- Products -->
        <activity
            android:name=".customer.ProductView"
            android:exported="false" />
        <activity
            android:name=".customer.ViewAllProductsActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:launchMode="singleInstance" /> <!-- Misc -->
        <receiver
            android:name = ".NotificationBroadcastReceiver"
            android:enabled = "true"
            android:exported = "true" >
        </receiver><!--   Notification receiver     -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerificationCodeActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoard"
            android:exported="true" /> <!-- APIs -->
        <activity android:name="com.paypal.pyplcheckout.home.view.activities.PYPLInitiateCheckoutActivity"
            android:exported="true"
            />
        <activity android:name="com.paypal.openid.RedirectUriReceiverActivity"
            android:exported="true"
            />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXhjURogj6j9LsVFA0obhSLcgQP-hHGpM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>