<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agribiz_v100" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agribizv100"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".customer.EditProfile"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.ProductView"
            android:exported="false" />
        <activity
            android:name=".agrovit.AgrovitMainActivity"
            android:exported="false" />
        <activity
            android:name=".farmer.FarmerMainActivity"
            android:exported="true" />
        <activity
            android:name=".VerificationCodeActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ViewAllProductsActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".customer.CustomerMainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".OnBoard"
            android:exported="true" />
    </application>

</manifest>